@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row text-center table-bordered col-sm-5">
    <h1 id="currentStateName">
        Current State
    </h1>
    <span class="text-center">
        Here is the longer description of the current state. Hopefully this is also centered and wrapped in a smaller area.
    </span>
</div>

<div>
    
</div>