@*
    This is a partial view that asks the user to confirm deleting a scenario.
*@

@using CellGame.Models
@model ScenarioToGrade

@using (Html.BeginForm("DeleteGrade", "GradeScenarios", FormMethod.Post))
{
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="answerModalLabel">Delete Answer</h2>
                <button id="answerModalCloseButton" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        @Html.DisplayFor(x => x.stgID)
                        <h3>Are you sure you want to Delete Grade:</h3>
                        @Html.DisplayFor(x => x.stgScenarioName)
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="answerSaveQuestionButton" class="btn btn-danger" onclick="waitingDialog.show();">Delete</button>
            </div>
        </div>
    </div>
}

