<div class="jumbotron" style="background-image: url(https://i1.wp.com/spiritegg.com/wp-content/uploads/2017/02/3D-DNA-Wallpaper-7.jpg);">
    <div align="center">
        <h2 margin-top: 100px">Cell Game - CUW Science Department</h2>
        <p class="lead" margin-top: 40px" style="color:white;">
            This is an interactive game designed to teach you abount the cellular life-cycle. In it, you will play through different scenarios designed by your professor.
        </p>
        <hr />
    </div>
    <center>
        <h2>HELP</h2>
    </center>
</div>
