@{
    ViewBag.Title = "About Cell Game";
}

@{ 
    Html.RenderPartial("_HelpHeader");
}

<div class="row">
    <h2>About the Cell Game</h2>
    <p>
        This is an interactive game designed to reach you about the cellular life-cycle.
        In it, you will play through different scenarios designed by your instructor or even fellow students.
        This application was developed with the help of the CUW Computer Science Department.
    </p>
</div>
@{Html.RenderPartial("_HelpMenu");}