@{
    ViewBag.Title = "Help: How to Play";
}

@{ 
    Html.RenderPartial("_HelpHeader");
}

<div class="row">
    <h2>How to Play</h2>
    <p>
        Make decisions based upon your knowledge of the cellular life-cycle to complete the scenario.
        Carefully read the scenario and then use that information to make your decision.
        Be sure that you have a reason for your answer because you may be asked to describe what led you to that decision.
        <br /> While playing, please refrain from using your browser's back button, as it may cause issues with the game.
        <br /> Answers will only be recorded if you reach the completion screen.
    </p>
</div>
@{Html.RenderPartial("_HelpMenu");}