@{
    ViewBag.Title = "Help: Login";
}

@{ 
    Html.RenderPartial("_HelpHeader");
}

<div class="row">
    <h2>Log In</h2>
    <p>
        This information will allow your instructor to identify and access your performance within the Cell Game. Please use your CUW email so the instructor knows who you are.
    </p>
</div>
@{Html.RenderPartial("_HelpMenu");}