@{
    ViewBag.Title = "Help: Log In";
}

@{
    Html.RenderPartial("_HelpHeader");
}

<div class="row">
    <h2>Log In</h2>
    <p>
        Log In information is used to identify users and allow them access to the appropriate roles.
    </p>
</div>
@{Html.RenderPartial("_HelpMenu");}