@{
    ViewBag.Title = "Other Questions";
}

@{ 
    Html.RenderPartial("_HelpHeader");
}

<div class="row">
    <h2>Other Questions</h2>
    <p>
        For further questions please contact your instructor via email.
    </p>
</div>
@{Html.RenderPartial("_HelpMenu");}